<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="..\..\css\font-awesome-4.7.0\css\font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="..\..\css\system\payroll-information.css">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb"
        crossorigin="anonymous">
</head>

<body>
    <div class="title-bar">
        <div class="title-container">
            <h3 class="title">Payroll Information</h3>
        </div>
        <a class="btn btn-circle-sm btn-warning">
            <i class="fa fa-floppy-o"></i>
        </a>

    </div>

    <div class="row">
        <div class="col form-colums">
            <div class="form-group row">
                <label class="col-3 form-label">Payroll Name</label>
                <div class="col-6">
                    <input class="form-control" type="text">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-3 form-label">Payroll Size</label>
                <div class="col-6">
                    <select class="form-control" id="exampleSelect1">
                        <option>
                            <span>
                                <strong>Up to 50 employees</strong> - $10 p/month</span>
                        </option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="col form-colums">
            <div class="form-group row">
                <label class="col-3 form-label">Payroll Frequency</label>
                <div class="col-6">
                    <select class="form-control" id="exampleSelect1">
                        <option>4 Weeks</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-3 form-label">Payroll Instance</label>
                <div class="col-6">
                    <input class="form-control" type="text">
                </div>
            </div>
        </div>
    </div>

    <div class="col-12 form-colums">
        <table class="table">
            <thead>
                <tr class="hidden-top">
                    <th>Members</th>
                    <th>ID</th>
                    <th>Job Title</th>
                    <th>Department</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row" class="botton-row">
                        <button type="button" class="btn btn-add-member" data-toggle="modal" data-target="#myModal">
                            <span class="span-add-member"> + Add Member to Payroll</span>
                        </button>
                    </th>
                </tr>
                <tr>
                    <td class="member-bold">Sam Hyatt</td>
                    <td class="id-bold">0000013</td>
                    <td>Marketing Director</td>
                    <td>Marketing</td>
                </tr>
                <tr>
                    <td class="member-bold">Amanda Li</td>
                    <td class="id-bold">0000014</td>
                    <td>Marketing Assistant</td>
                    <td>Marketing</td>
                </tr>
                <tr>
                    <td class="member-bold">Tracy Island</td>
                    <td class="id-bold">0000015</td>
                    <td>Copy Editor</td>
                    <td>Marketing</td>
                </tr>
                <tr>
                    <td class="member-bold">Sam Hyatt</td>
                    <td class="id-bold">0000016</td>
                    <td>Marketing Director</td>
                    <td>Marketing</td>
                </tr>
                <tr>
                    <td class="member-bold">Amanda Li</td>
                    <td class="id-bold">0000017</td>
                    <td>Marketing Assistant</td>
                    <td>Marketing</td>
                </tr>
                <tr>
                    <td class="member-bold">Tracy Island</td>
                    <td class="id-bold">0000018</td>
                    <td>Copy Editor</td>
                    <td>Marketing</td>
                </tr>
                <tr>
                    <td class="member-bold">Amanda Li</td>
                    <td class="id-bold">0000019</td>
                    <td>Thornt9n</td>
                    <td>Marketing</td>
                </tr>
            </tbody>
        </table>
    </div>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ"
        crossorigin="anonymous"></script>

    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-size" role="document">
            <div class="modal-content modal-font">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Create New Payroll Code - 1 of 1</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body modal-size">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-4">
                                <label class="modal-label">Category</label>
                            </div>
                            <div class="col-md-4 col-md-offset-4">
                                <select class="form-control modal-select">
                                    <opcion>000012</opcion>
                                    <opcion>000012</opcion>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <label class="modal-label">Payroll Code</label>
                            </div>
                            <div class="col-md-4 col-md-offset-4">
                                <input class="form-control modal-select" type="text">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <label class="modal-label">Description</label>
                            </div>
                            <div class="col-md-4 col-md-offset-4">
                                <input class="form-control modal-select" type="text">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <label class="modal-label">Short Description</label>
                            </div>
                            <div class="col-md-4 col-md-offset-4">
                                <input class="form-control modal-select" type="text">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <label class="modal-label">Retro Payroll Code</label>
                            </div>
                            <div class="col-md-4 col-md-offset-4">
                                <select class="form-control modal-select">
                                    <opcion>000012</opcion>
                                    <opcion>000012</opcion>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <label class="modal-label">Calculation Method</label>
                            </div>
                            <div class="col-md-4 col-md-offset-4">
                                <select class="form-control modal-select">
                                    <opcion>000012</opcion>
                                    <opcion>000012</opcion>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <label class="modal-label">Basic Pay Content</label>
                            </div>
                            <div class="col-md-4 col-md-offset-4">
                                <label class="container">
                                    <input type="checkbox">
                                    <span class="checkmark"></span>
                                    No
                                </label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <label class="modal-label">Rate</label>
                            </div>
                            <div class="col-md-4 col-md-offset-4">
                                <input class="form-control modal-select" type="text">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <label class="modal-label"></label>
                            </div>
                            <div class="col-md-4 col-md-offset-4 checkbox-label">
                                <label class="container label-checkbox">
                                    <input type="checkbox">
                                    <span class="checkmark"></span>
                                    Taxeable
                                </label>
                                <label class="container label-checkbox">
                                    <input type="checkbox">
                                    <span class="checkmark"></span>
                                    Pensionable
                                </label>
                                <label class="container label-checkbox">
                                    <input type="checkbox">
                                    <span class="checkmark"></span>
                                    Overtime
                                </label>
                                <label class="container label-checkbox">
                                    <input type="checkbox" value="">
                                    <span class="checkmark"></span>
                                    Retro
                                </label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <label class="modal-label">Allow Invididual Employee Accounts</label>
                            </div>
                            <div class="col-md-4 col-md-offset-4">
                                <div class="checkbox">
                                    <label class="container label-checkbox">
                                        <input type="checkbox" value="">
                                        <span class="checkmark"></span>
                                        No
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <label class="modal-label">Calculation Method</label>
                            </div>
                            <div class="col-md-4 col-md-offset-4">
                                <select class="form-control modal-select">
                                    <opcion>000012</opcion>
                                    <opcion>000012</opcion>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <label class="modal-label">Suspend Status</label>
                            </div>
                            <div class="col-md-4 col-md-offset-4">
                                <div class="checkbox">
                                    <label class="container label-checkbox">
                                        <input type="checkbox" value="">
                                        <span class="checkmark"></span>
                                        No
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary btn-cancel" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>
</body>