<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="..\..\css\font-awesome-4.7.0\css\font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="..\..\css\payroll-data\massrate.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/css/bootstrap-select.min.css">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb"
        crossorigin="anonymous">
</head>

<body>
    <div class="title-bar">
        <div class="title-container">
            <h3 class="title">Account Billing</h3>
        </div>
        <div class="title structure">
            <h3 class="title">Company Structure</h3>
        </div>
        <div class="title grades">
            <h3 class="title">Employee Grades</h3>
        </div>
        <a class="btn btn-circle-sm btn-warning">
            <i class="fa fa-floppy-o fa-floppy-save"></i>
        </a>

    </div>
    <div class="col-12 form-colums">
        <table class="table table-striped">
            <thead class="table-head">
                <tr class="hidden-top">
                    <th>Name</th>
                    <th>Category</th>
                    <th>Payroll Code</th>
                    <th>Amount</th>
                    <th class="rate-title">Rate</th>
                    <th>Account No.</th>
                    <th>Suspend</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <input type="text" list="employeename" class="employee-select">
                        <datalist id="employeename">
                            <option value="Tracy Island" class="employee-select">Tracy Island</option>
                            <option class="employee-select">
                                    <i class="fa fa-plus-circle" aria-hidden="true"></i>Create New Employee
                            </option>
                        </datalist>
                    </td>
                    <td>
                        <select class="select-mass-rate form-control"></select>
                    </td>
                    <td>
                        <select class="select-mass-rate form-control"></select>
                    </td>
                    <td>
                        <input class="form-control">
                    </td>
                    <td>
                        <input class="input-rate form-control">
                    </td>
                    <td>
                        <input class="form-control">
                    </td>
                    <td>
                            <input class="input-suspend form-control">
                        </td>
                    <td class="icon-right ">
                        <i class="fa fa-pencil" aria-hidden="true"></i>
                        <i class="fa fa-trash" aria-hidden="true"></i>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.6.3/js/bootstrap-select.min.js"></script>
    <script>
        $('.selectpicker').selectpicker({
            size: 5,
            heig
        });
    </script>
</body>