<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="..\..\css\font-awesome-4.7.0\css\font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="..\..\css\payroll-data\payments-deductions.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/css/bootstrap-select.min.css">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb"
        crossorigin="anonymous">
</head>

<body>
    <div class="title-bar">
        <div class="title-container">
            <h3 class="title">Account Billing</h3>
        </div>
        <div class="title structure">
            <h3 class="title">Group</h3>
        </div>
        <div class="title grades">
            <h3 class="title">Department</h3>
        </div>
        <a class="btn btn-circle-sm btn-warning" data-toggle="modal" data-target="#saveModal">
            <i class="fa fa-floppy-o fa-floppy-save"></i>
        </a>

    </div>
    <div class="row">
        <div class="col form-colums">
            <div class="form-group row">
                <div class="col-6">
                    <div class="select-container">
                        <select class="selectpicker select-letters" data-live-search="true">
                            <option class=" select-letters" data-tokens="ketchup mustard">Hot Dog, Fries and a Soda</option>
                            <option class=" select-letters" data-tokens="mustard">Burger, Shake and a Smile</option>
                            <option class=" select-letters" data-tokens="frosting">
                                <button type="button" class="btn btn-add-member">
                                    <span class="span-add-member"> + Add Payroll Entry</span>
                                </button>
                            </option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-12 form-colums">
        <table class="table table-striped">
            <thead class="table-head">
                <tr class="hidden-top">
                    <th>Category</th>
                    <th>Payroll Code</th>
                    <th>Amount</th>
                    <th>Rate</th>
                    <th>Account No.</th>
                    <th>Suspend</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody class="table-head">
                <tr class="row-button">
                    <th scope="row" class="row-button">
                        <button type="button" class="btn btn-add-member" data-toggle="modal" data-target="#myModal">
                            <span class="span-add-member"> + Add Payroll Entry</span>
                        </button>
                    </th>
                </tr>
                <tr>
                    <td>Standard Payments</td>
                    <td>Basic Pay</td>
                    <td>3,500.00</td>
                    <td>-</td>
                    <td>0123456789</td>
                    <td>
                        <i class="fa fa-check" aria-hidden="true"></i>
                    </td>
                    <td class="icon-right">
                        <i class="fa fa-pencil" aria-hidden="true"></i>
                        <i class="fa fa-trash" aria-hidden="true"></i>
                    </td>
                </tr>
                <tr>
                    <td>Standard Payments</td>
                    <td>Basic Pay</td>
                    <td>5,000.00</td>
                    <td>-</td>
                    <td>0123456789</td>
                    <td>
                        <i class="fa fa-check" aria-hidden="true"></i>
                    </td>
                    <td class="icon-right">
                        <i class="fa fa-pencil" aria-hidden="true"></i>
                        <i class="fa fa-trash" aria-hidden="true"></i>
                    </td>
                </tr>
                <tr>
                    <td>Non-Standard Payments</td>
                    <td>Gym Membership</td>
                    <td>4,5000.00</td>
                    <td>-</td>
                    <td>0123456789</td>
                    <td>
                        <i class="fa fa-check" aria-hidden="true"></i>
                    </td>
                    <td class="icon-right">
                        <i class="fa fa-pencil" aria-hidden="true"></i>
                        <i class="fa fa-trash" aria-hidden="true"></i>
                    </td>
                </tr>
                <tr>
                    <td>Standard Payments</td>
                    <td>Basic Pay</td>
                    <td>5,000.00</td>
                    <td>-</td>
                    <td>0123456789</td>
                    <td>
                        <i class="fa fa-check" aria-hidden="true"></i>
                    </td>
                    <td class="icon-right">
                        <i class="fa fa-pencil" aria-hidden="true"></i>
                        <i class="fa fa-trash" aria-hidden="true"></i>
                    </td>
                </tr>
                <tr>
                    <td>Non-Standard Payments</td>
                    <td>Gym Membership</td>
                    <td>4,750.00</td>
                    <td>-</td>
                    <td>0123456789</td>
                    <td>
                        <i class="fa fa-check" aria-hidden="true"></i>
                    </td>
                    <td class="icon-right">
                        <i class="fa fa-pencil" aria-hidden="true"></i>
                        <i class="fa fa-trash" aria-hidden="true"></i>
                    </td>
                </tr>
                <tr>
                    <td>Standard Payments</td>
                    <td>Basic Pay</td>
                    <td>4,600.00</td>
                    <td>-</td>
                    <td>0123456789</td>
                    <td>
                        <i class="fa fa-check" aria-hidden="true"></i>
                    </td>
                    <td class="icon-right">
                        <i class="fa fa-pencil" aria-hidden="true"></i>
                        <i class="fa fa-trash" aria-hidden="true"></i>
                    </td>
                </tr>
                <tr>
                    <td>Standard Payments</td>
                    <td>Basic Pay</td>
                    <td class="input-amount">
                        <input class="col-4 " type="text">
                    </td>
                    <td class="input-rate">
                        <input class="col-2" type="text">
                    </td>
                    <td>
                        <input class="col-6" type="text">
                    </td>
                    <td class="input-rate">
                        <input class="col-2" type="text">
                    </td>
                    <td class="icon-right">
                        <i class="fa fa-pencil" aria-hidden="true"></i>
                        <i class="fa fa-trash" aria-hidden="true"></i>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.6.3/js/bootstrap-select.min.js"></script>
    <!-- Create New Payroll Code -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-size" role="document">
            <div class="modal-content modal-font">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Create New Payroll Code - 1 of 1</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body modal-size">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-4">
                                <label class="modal-label">Category</label>
                            </div>
                            <div class="col-md-4 col-md-offset-4">
                                <select class="form-control modal-select">
                                    <opcion>000012</opcion>
                                    <opcion>000012</opcion>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <label class="modal-label">Payroll Code</label>
                            </div>
                            <div class="col-md-4 col-md-offset-4">
                                <input class="form-control modal-select" type="text">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <label class="modal-label">Description</label>
                            </div>
                            <div class="col-md-4 col-md-offset-4">
                                <input class="form-control modal-select" type="text">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <label class="modal-label">Short Description</label>
                            </div>
                            <div class="col-md-4 col-md-offset-4">
                                <input class="form-control modal-select" type="text">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <label class="modal-label">Retro Payroll Code</label>
                            </div>
                            <div class="col-md-4 col-md-offset-4">
                                <select class="form-control modal-select">
                                    <opcion>000012</opcion>
                                    <opcion>000012</opcion>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <label class="modal-label">Calculation Method</label>
                            </div>
                            <div class="col-md-4 col-md-offset-4">
                                <select class="form-control modal-select">
                                    <opcion>000012</opcion>
                                    <opcion>000012</opcion>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <label class="modal-label">Basic Pay Content</label>
                            </div>
                            <div class="col-md-4 col-md-offset-4">
                                <label class="container">
                                    <input type="checkbox">
                                    <span class="checkmark"></span>
                                    No
                                </label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <label class="modal-label">Rate</label>
                            </div>
                            <div class="col-md-4 col-md-offset-4">
                                <input class="form-control modal-select" type="text">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <label class="modal-label"></label>
                            </div>
                            <div class="col-md-4 col-md-offset-4 checkbox-label">
                                <label class="container label-checkbox">
                                    <input type="checkbox">
                                    <span class="checkmark"></span>
                                    Taxeable
                                </label>
                                <label class="container label-checkbox">
                                    <input type="checkbox">
                                    <span class="checkmark"></span>
                                    Pensionable
                                </label>
                                <label class="container label-checkbox">
                                    <input type="checkbox">
                                    <span class="checkmark"></span>
                                    Overtime
                                </label>
                                <label class="container label-checkbox">
                                    <input type="checkbox" value="">
                                    <span class="checkmark"></span>
                                    Retro
                                </label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <label class="modal-label">Allow Invididual Employee Accounts</label>
                            </div>
                            <div class="col-md-4 col-md-offset-4">
                                <div class="checkbox checkbox-label">
                                    <label class="container label-checkbox">
                                        <input type="checkbox" value="">
                                        <span class="checkmark"></span>
                                        No
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <label class="modal-label">Calculation Method</label>
                            </div>
                            <div class="col-md-4 col-md-offset-4">
                                <select class="form-control modal-select">
                                    <opcion>000012</opcion>
                                    <opcion>000012</opcion>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <label class="modal-label">Suspend Status</label>
                            </div>
                            <div class="col-md-4 col-md-offset-4">
                                <div class="checkbox">
                                    <label class="container label-checkbox">
                                        <input type="checkbox" value="">
                                        <span class="checkmark"></span>
                                        No
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-cancel" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-next" data-dismiss="modal" data-toggle="modal" data-target="#newEmpleyeeModal">Next</button>
                </div>
            </div>
        </div>
    </div>





    <!-- Create new Employee Modal -->

    <div class="modal fade" id="newEmpleyeeModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-size" role="document">
            <div class="modal-content modal-font">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Create New Employee - 1 of 3</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body modal-size">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-4">
                                <label>TNR Code *</label>
                            </div>
                            <div class="col-md-2 ">
                                <input class="form-control input-niscode">
                            </div>
                            <div class="col-md-4">
                                <label class="label-niscode">NIS Code *</label>
                            </div>
                            <div class="col-md-2 ">
                                <input class="form-control input-niscode">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <label class="modal-label">Employee Id</label>
                            </div>
                            <div class="col-md-4 col-md-offset-4">
                                <input class="form-control modal-select" type="text">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <label class="modal-label">First Name</label>
                            </div>
                            <div class="col-md-4 col-md-offset-4">
                                <input class="form-control modal-select" type="text">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <label class="modal-label">Middle Name</label>
                            </div>
                            <div class="col-md-4 col-md-offset-4">
                                <input class="form-control modal-select" type="text">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <label class="modal-label">Last Name</label>
                            </div>
                            <div class="col-md-4 col-md-offset-4">
                                <input class="form-control modal-select" type="text">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <label class="modal-label">Sex *</label>
                            </div>
                            <div class="col-md-4 col-md-offset-4">
                                <label class="custom-control custom-radio">
                                    <input id="radio1" name="radio" type="radio" class="custom-control-input">
                                    <span class="custom-control-indicator"></span>
                                    <span class="custom-control-description">Male</span>
                                </label>
                                <label class="custom-control custom-radio">
                                    <input id="radio2" name="radio" type="radio" class="custom-control-input">
                                    <span class="custom-control-indicator"></span>
                                    <span class="custom-control-description">Female</span>
                                </label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <label>Date of Birth</label>
                            </div>
                            <div class="col-md-6">
                                <input class="form-control input-date" type="date">
                            </div>
                            <div class="col-md-2">
                                <i class="fa fa-calendar icon-date"></i>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <label class="modal-label">Email Address</label>
                            </div>
                            <div class="col-md-4 col-md-offset-4">
                                <input class="form-control modal-select" type="text">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-cancel" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-next">Next</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Save Modal -->
    <div class="modal fade" id="saveModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-size" role="document">
                <div class="modal-content modal-save-content">
                    <div class="modal-body modal-size">
                        <div class="container-fluid">
                            <h5><strong>You are about to navigate from this page</strong></h5>
                            <br>
                            <br>
                            <h6>Your change will be lost if you don't save them.</h6>
                            <br>
                            <h6>Click Discard Changes to <strong>navigate without saving.</strong></h6>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-discard" data-dismiss="modal">Discard Changes</button>
                        <button type="button" class="btn btn-cancel-save ">Cancel</button>
                        <button type="button" class="btn btn-next">Save</button>
                    </div>
                </div>
            </div>
        </div>
</body>